body{
    padding-top: 50px;
}

.page-title{
    font-variant: small-caps;
    text-transform: capitalize;
    text-decoration: underline;
}

.data-form{
    margin-top: 15px;
    border: solid 1px #009900;
    padding: 15px;
}

.form-label{
    margin-bottom: 1px;
}
.extra-grid{
    width: 100%;
    overflow-x: scroll;
}