<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head'); %>
  </head>
  <body>
    <%- include('common/navigation'); %>
    <div class="container-fluid">
      <h1>Hello, world!</h1>
    </div>
    <%- include('common/scripts'); %>
  </body>
</html>