<!doctype html>
<html lang='en'>
  <head>
    <%- include('../common/head'); %>
  </head>
  <body>
    <%- include('../common/navigation'); %>
    <div class='container-fluid'>
      <div class='row mt-3'>
        <div class="col">
            <span class="h4 text-success page-title">Opd Bill</span>
        </div>
        <div class="col">
            <a class="btn btn-outline-success btn-sm float-right" href="/opd-bills/create" role="button">Create Opd Bill</a>
        </div>
      </div>
    </div>
    <%- include('../common/scripts'); %>
  </body>
</html>